
#home #hero h2 {
    font-size: 3rem;
    line-height: 1;
}

.uppercase {
    text-transform: uppercase;
}
.font-normal {
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Saira, serif;
    letter-spacing: 0;
}
h2 {
    font-size: 2.5rem;
}
h1, h2 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}
del 
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
#home #hero {
    height: calc(100vh - 100px);
    align-content: end;
    align-content: flex-end;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
.Layout_main__2x3Uq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    flex-grow: 1;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
.Layout_root__Rbvjy {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
body {
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Saira, aktiv-grotest, sans-serif;
    font-size: var(--base-font);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: Saira, sans-serif;
}
body {
    font-family: inherit;
    line-height: inherit;
}
body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(63,131,248,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-shadow: 0 0 #0000;
}
*, :after, :before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    box-sizing: inherit;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --another: #b300ff;
    --primary: #fff;
    --primary-2: #f1f3f5;
    --secondary: #000;
    --secondary-2: #111;
    --selection: var(--cyan);
    --text-base: #000;
    --text-primary: #000;
    --text-secondary: #fff;
    --text-tertiary: #9d9d9d;
    --text-error: #ff4d6a;
    --text-accessories: #e6e6e6;
    --text-accessories-price: #999;
    --dark-bg-btn-primary: #ece81a;
    --hover: rgba(0,0,0,0.075);
    --hover-1: rgba(0,0,0,0.15);
    --hover-2: rgba(0,0,0,0.25);
    --cyan: #22b8cf;
    --green: #37b679;
    --red: #da3c3c;
    --pink: #e64980;
    --purple: #f81ce5;
    --light-grey: #909090;
    --blue: #0070f3;
    --light-blue: #00d3e5;
    --light-violet: #1db2bf;
    --violet-light: #7048e8;
    --violet: #5f3dc4;
    --black-light: #121212;
    --black-light-rgb: 18, 18, 18;
    --tower-gray: #a3bcbf;
    --accents-0: #f8f9fa;
    --accents-1: #f1f3f5;
    --accents-2: #e9ecef;
    --accents-3: #dee2e6;
    --accents-4: #ced4da;
    --accents-5: #adb5bd;
    --accents-6: #868e96;
    --accents-7: #495057;
    --accents-8: #343a40;
    --accents-9: #212529;
    --font-sans: -apple-system, system-ui, BlinkMacSystemFont, Saira, "aktiv-grotesk", sans-serif;
    --bordercolor: #333;
    --placeholderc: #afafaf;
    --wrappercolor: #1e1e1e;
    --border-active: #1ba3af;
    --border-light: #666;
    --hydro-submenu: #151515;
    --hydro-submenu-modal: #1a1a1a;
    --base-font: 16px;

}